body {
    margin: 0;
    padding: 0em;
    background: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight:100;
  
  }
  

   
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 0.5em;
  }
  
  .container {
    position: relative;
    z-index: 1;
    margin:auto
  }


  .teacher_card{
    height:300px;
    width:260px;
    margin:auto 15px 10px 15px;
    
  } 
  
  .teacher_card img{
    display: flex;
    justify-content:center;
    margin:1rem auto auto auto;

    object-fit: cover;
    object-position: 24% center;

    border-radius: 100%;
    object-fit: cover;
    width: 220px;
    height: 220px;
    border: solid white 1px;
    
    
    
  }
  
  .teacher_card span{
    display: flex;
    justify-content:center;
  }
  
  .homeBackgound {
    background-image:url('/images/MOPTOP_performance1.png');
    background-size:cover;
    background-position:center;
    height: 100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center
  }
  
  /* this shows background black */
  .App {
    background: black;
    color: white;
    min-height: 100vh;
    transition: color 2s, background 2s;
  }
  
  
  .nav_container{
    margin:0;
    color:rgba(255, 255, 255, 0.771);
    display:flex;
    justify-content:space-between;
    margin: 0.1rem 3.5rem 2rem 3.5rem
  }
  
  .nav_link{
    text-decoration: none;
    color:rgba(122 122 122);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', sans-serif;
    font-size: 35px;
    font-weight:500;
  }
  
  .nav_link:hover{
    color: white
  }
  .active{
    color:rgba(255, 255, 255);
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-size: 35px;
    font-weight:500
  }


  .placeholder-center::placeholder {
    text-align: center;
  }

  .thin_border {
    border-width: 0.5px;
    border-color: #848484; /* You can adjust the color as needed */
}

.footer_links {
    display: flex;
    gap: 1rem;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    margin: 100px 0 100px 30px;
    background-color: black;
    clear: both;
  }