body {
    margin: 0;
    padding: 0em;
    background: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight:100;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

html body{
    margin: 0;
    padding: 0;
    height: 100%;
    /* Prevent scrolling */
    /* overflow: hidden;  */
}
   
  .teachersflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 0.5em;
  }
  
  .teacherscontainer {
    /* position: relative; */
    z-index: 1;
    /* margin: 50px 0 0 0; */
    font-family: familjen grotesk;
    text-transform: uppercase;
  }



  .teacher_card{
    height:300px;
    width:260px;
    white-space: nowrap;
    margin:auto 15px 10px 15px;
  } 
  
  .teacher_card_img{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content:center;
    margin:1rem auto 3rem auto;
    object-fit: cover;
    object-position: 24% center;
    border-radius: 100%;
    object-fit: cover;
    width: 220px;
    height: 220px;
    /* border: solid white 1px; */
  }
  .teacher_card_img:hover{
    transform: scale(1.05) !important; 
  }
  


  .teacher_profile_img{
    display: flex;
    justify-content:center;
    margin:1rem auto 3rem auto;
    object-fit: cover;
    object-position: 24% center;
    border-radius: 100%;
    object-fit: cover;
    width: 220px;
    height: 220px;
    /* border: solid white 1px; */
  }

 
  
  .teacher_card span{
    display: flex;
    justify-content:center;
  }
  
  .homeBackgound {
    background-image:url('/images/MOPTOP_performance1.png');
    background-size:cover;
    background-position:center;
    /* height: 100vh;
    width:100%; */
    display:flex;
    justify-content:center;
    align-items:center;

    position: fixed;
    top:0;
    right:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-2;
  }
  
  /* this shows background black */
  /* .App {
    background: transparent;
    flex-direction: column;
    color: white;
    min-height: 100vh;
    transition: color 2s, background 2s;
  } */
  
  .homepage{
    color: white;
    position:relative;
    overflow:hidden;
    height:100vh
  }

  .otherpagesv1 {
    color: white; /* Ensures all text in .otherpagesv1 is white */
}

  .otherpagesv1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/Moptop_Universal_Logo.PNG') repeat;
    /* background-size: 211px 110px; */
    background-size: 134px 70px;
    opacity: 0.4; /* Adjust this value for transparency */
    z-index: -1; /* Ensures it stays behind the content */
}

  .otherpagesv2 {
    color: white; /* Ensures all text in .otherpagesv1 is white */
  }
  
  .otherpagesv2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/Moptop_Universal_Logo.PNG') no-repeat center center fixed;
    background-size: 100%;
    opacity: 0.4; /* Adjust this value for transparency */
    z-index: -1; /* Ensures it stays behind the content */
}
 
  
  .nav_container{
    margin:0;
    color:rgba(255, 255, 255, 0.771);
    display:flex;
    justify-content:space-between;
    margin: 0.1rem 3.5rem 2rem 3.5rem
  }
  
  .nav_link{
    text-decoration: none;
    color:rgba(122 122 122);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', sans-serif;
    font-size: 35px;
    font-weight:500;
  }
  
  .nav_link:hover{
    color: white
  }
  .active{
    color:rgba(255, 255, 255);
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
    font-size: 35px;
    font-weight:500
  }


  .placeholder-center::placeholder {
    text-align: center;
  }

  .thin_border {
    border-width: 0.5px;
    border-style: dashed;
    border-color: #848484; /* You can adjust the color as needed */
}

.footer_links {

    position: fixed; /* Fixes the footer to the bottom */
    bottom: 0; /* Aligns it to the bottom of the viewport */
    left: 0; /* Aligns it to the left */
    width: 100%; /* Full width */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    padding: 10px 0; /* Padding for spacing */
    display: flex; /* Enables flexbox for horizontal alignment */
    justify-content: left; /* Center items horizontally */
    z-index: 1000; /* Places the footer above other content */
    gap: 50px;


    /* display: flex;
    gap: 1rem;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    margin: 10px auto 20px 40px;
    background-color: transparent;
    clear: both;
    padding: 1rem;
    text-align: center;
    align-items: center;
    float:bottom */
  }

  .footer_inner{
    height:60px;
    /* background-color: rgb(69, 10, 10); */
    color:rgba(233, 233, 233);
    padding:0.1rem 0.2rem 0.1rem 0.2rem;
    border-radius: 2px;

  }

  .footer_inner:hover{
    background-color: rgba(69, 10, 10);
    color:white;
 
  }

  .footer_logo {
    height: 45px;  
    margin: 5px; /* Adds spacing around images */
  }

  #root {
    position:relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Outlet {
    flex: 1;
}

.video_search_container{
    width: 100%;
    margin-top: 80px; /* Offset for the fixed header's height */
    height: calc(100vh - 80px);
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column; 
    margin:auto;
    align-items: center; /* Center items horizontally */

   }

   

.centered_label {
    margin: 10px 0 10px 0; /* Add some space between the label and the input */
    font-family: familjen grotesk;
    text-align: center;
    text-transform: uppercase;
}

.search_video_input{
    color:black;
    min-width: 20px;
}


.video_frame{
    display: flex;
    position:relative;
    align-items: center;
    width: 100%; /* Make the iframe responsive */
    max-width: 560px; /* Ensure it doesn't exceed the standard size */
    min-height:auto;
    margin: 20px auto auto auto; /* Add some spacing around each video */
    border: none; /* Remove any default borders */
   }

.video_grid {
    display: grid;
    grid-template-columns: 1fr; /* Single column by default */
    gap: 1rem;
    width: 100%; /* Full width of the container */
}
  
  @media (min-width: 640px) {
    .video_grid {
      grid-template-columns: 1fr 1fr; /* Two columns on wider screens */
    }
  }

 
  

.class_image{
    width:auto;
    height:300px;
    /* min-width:100px; */
    margin:40px 20px;
    object-fit: cover;
    align-items: center;

}

.group_horizontal{
    display:flex;
    flex-direction: row;
    overflow-x: auto;
    max-width: 40%; 
    min-height: 380px;
    /* border: 0.7px solid #ccc;  */
    background-color: rgba(131, 14, 14, 0.4);
    padding: 0.1rem; 
    white-space: nowrap;
    margin:100px auto;
    justify-content: flex-start; /* Centers the images horizontally */
    align-items: center;
  }

  .group_horizontal img { /* Assuming you're using images */
    margin: 0 10px; /* Add horizontal margin for spacing between items */
}

  /* Center single image */
  .group_horizontal.single-image {
      justify-content: center; /* Center the image */
  }

  .back_video{
    position: fixed;
    top:0;
    right:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-1;
  }

  @media(min-aspect-ratio: 16/9){
    .back_video{
        width:100%;
        height:auto;
    }
  }

  @media(max-aspect-ratio: 16/9){
    .back_video{
        width:auto;
        height:100%;
    }
  }
  

  .video_filter{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
    z-index: -1; /* Ensure it stays above the video but below the content */
  }


  .kidscontainer{
    position: relative;
    z-index: 1;
    /* max-width:200%; */
    margin: 0 100px; /* Adjust margins as needed */
    height: 70vh; /* Set a fixed height for the container */
    overflow-y: auto; /* Hide vertical overflow */
    overflow-x: auto; /* Allow horizontal scrolling */
    text-transform: uppercase;
  }

    /* Each row to scroll horizontally */
  .yearRow {
    display: flex;
    height: 300px; /* Set a fixed height */
    gap: 20px; /* Spacing between kidCards */
    overflow-x: auto; /* Enables horizontal scroll within each row */
    padding-bottom: 10px;
    scroll-snap-type: x mandatory; /* Optional: smooth scrolling per card */
    background-color: rgba(255, 255, 255, 0); /* Optional: background color for better visibility */
  }

  .yearRow::-webkit-scrollbar {
    height: 0.7px; /* Height of the scrollbar */
  }

  .yearRow::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255, 0.5);  /* Change this color for the scrollbar thumb */
    border-radius: 10px; /* Rounding the edges of the scrollbar */
  }

  .yearRow::-webkit-scrollbar-track {
      background: rgba(0,0,0, 1);
      /* background: rgba(69, 10, 10, 0.8); */
      /* Background of the scrollbar track */
  }


   /* Teacher Row*/
  .teacherRow::-webkit-scrollbar {
    height: 7px; /* Height of the scrollbar */
  }

  .teacherRow::-webkit-scrollbar-thumb {
    background-color: rgba(69,10,10, 1); 
    /* Change this color for the scrollbar thumb */
    border-radius: 10px; /* Rounding the edges of the scrollbar */
  }

  .teacherRow::-webkit-scrollbar-track {
      background: rgba(0,0,0, 0.8);
      /* Background of the scrollbar track */
  }

  .kidCard{
    display:flex;
    flex-direction: column;
    max-height: 300px;
    margin: 20px;
  }
  .kidprofileimg{
    height:200px;
    min-width:200px;
    object-fit:cover;
  }

    /* Ensure that the hover effect targets the .kidprofileimg inside .clickable-image */
  .clickable_img .kidprofileimg{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .clickable_img:hover .kidprofileimg {
    transform: scale(1.05) !important; /* Slightly increase size on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2) !important; /* Adds a shadow */
    cursor: pointer !important; /* Change cursor to pointer */
  }





  .toggle_button{
    position:fixed;
    top:10px;
    left:10px;
    z-index: 1001;
    /* background-color:#333; */
    color:#fff;
    border:none;
    padding:20px;
    cursor:pointer;
    width:30px;
    height:30px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    gap: 5px;
  }

  .toggle-button span,
  .toggle-button::before,
  .toggle-button::after {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
  }
  
  .toggle-button::before {
    margin-bottom: 5px;
  }
  
  .toggle-button::after {
    margin-top: 5px;
  }

  /* CSS for Slide-in Menu */
.slide_in_bar {
    position: fixed;
    top: 0;
    left: -200px; /* Initially hidden */
    width: 200px;
    height: 100%;
    background-color: rgba(55, 55, 55, 0.771); 
    color: #fff;
    transition: left 0.3s ease; /* Smooth transition */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .slide_in_bar.open {
    left: 0; /* Slide in */
  }
  
  .slide_in_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', sans-serif;
    align-items: flex-start;
  }
  
  .nav_link_myaccount {
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
  }
  .nav_link_login{
    margin-top:30px;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
  }

  .nav_link_myaccount:hover    .nav_link_login:hover {
    text-decoration: underline;
  }

  .header_logo{
    height:3rem;
    margin: 20px 0 7px 0;
  }

  .header {
    display: flex;
    justify-content: center; /* centers items horizontally */
    align-items: center; /* centers items vertically */
    width: 100%; 
  }

